<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" metadata-complete="false" version="6.0">
  <display-name>CJA101G3-old</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SpotServlet</servlet-name>
    <servlet-class>com.toiukha.spot.controller.SpotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotServlet</servlet-name>
    <url-pattern>/spot/SpotServlet</url-pattern>
  </servlet-mapping>
</web-app>